body {
    background-color:  darkblue;
    color: #5f768f;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #6dd1ff;
  }
 
  h1 img {    
    padding-left: 20px;
    width: 264px;
    height: auto;
  }